.song-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;

  img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
  }

  .details {
    flex: 1;

    h4 {
      margin: 0;
    }

    p {
      margin: 0;
      color: #888;
    }
  }

  span {
    color: #aaa;
  }
}
