.player {
  background: #121212;
  padding: 10rem;
  display: flex;
  align-items: center;

  .player-info {
    display: flex;
    flex-direction: column;
  }

  img {
    height: 70vh;

    border-radius: 5px;
  }

  .details {
    h4 {
      margin: 0;
      font-size: 30px;
    }

    p {
      margin: 0;
      color: #888;
    }
  }
}
