.player {
  background: #121212;
  padding: 15rem;
  display: flex;
  align-items: center;

  .player-info {
    display: flex;
    flex-direction: column;
  }

  img {
    height: 50vh;
    border-radius: 5px;
  }

  .details {
    h4 {
      margin: 0;
      font-size: 30px;
    }

    p {
      margin: 0;
      color: #888;
    }
  }
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
